#vegetarianas{
    padding-top: 5%;
}
.vegetarianas-receitas .imagens-receitas{
    width: 80%;
} 
.todas-receitas{
    padding-left: 20%;
    padding-right: 20%;
}
p{
    padding-right: 20%;
}
